# Client config
d4l-client-config.json
d4l-test-config.json

# Gradle
.gradle/
build/
local.properties

# IDEA/Android Studio ignores
*iml
.idea/*

# IDEA/Android Studio includes
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles/
!.idea/encoding.xml
!.idea/copyright/
!.idea/compiler.xml
!.idea/externalDependencies.xml

# Others
captures/

.DS_Store
